# Virtual Environment
venv/
.venv/
env/
.env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# PyInstaller specific
# *.spec
*.manifest

# IDE and Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Jupyter Notebook
.ipynb_checkpoints

# Environment files
.env
.venv

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Backup files
*~
*.swp
*.swo